@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary-color: #F6F1E9;
  --secondary-color: #FFD93D;
  --tertiary-color: #FF8400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--primary-color);
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  background: var(--primary-color);
  position: fixed;
  width: 100%;
}

.header__logo {
  font-weight: bold;
  font-size: 1.75rem;
}

.nav {
  margin-inline-start: auto;
}

.nav__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1rem;
}

.nav__button--active {
  box-shadow: 0 2px var(--tertiary-color);
}

.nav__button:hover,
.nav__button:active,
.nav__button:focus {
  background-color: var(--tertiary-color);
}

.hero {
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.5)), url('./assets/images/hero-background.jpg');
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__heading {
  color: var(--primary-color);
  font-size: min(5vw, 4rem);
}

.content__section {
  max-width: 960px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
  margin-inline: auto;
  padding-inline: 2rem;
}

.menu-cards-container {
  max-width: 100%;
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-flow: column;
  gap: 0.5rem;
}

.card {
  background-color: white;
  border-radius: 20px;
}

.card__thumbnail {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
}

.card__name {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}